<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="styles/pptall.css" rel="stylesheet" type="text/css" />
<title></title>
</head>
<body>
<div style="height: 100%;width: 100%;"> 

</div>
<form action="basicppt.php" method="get">
<div style="margin:0 auto;width:200px;">
<input id="act" name="act" value="edit" type="hidden">
<input id="programid" name="programid" value="{$programid}" type="hidden">
<input id="update" name="update" value="update" type="hidden">
<input id="fa" name="fa" value="cj" style="display: none;">
 <p>请输入方案名称：</p>
 <input id="name" name="name" type="text" value="{$program.name}" ></br>
 <p>请输入方案描述：</p>
<textarea id="remark" name="remark"  rows="" cols="">{$program.Remark}</textarea>
<input type="submit">
</div>
</form>
</body>
</html>