<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="styles/pptall.css" rel="stylesheet" type="text/css" />
<title></title>
</head>
<body>
{$message}
<div class="sp_dy"><img src="{$pptimageurl}" class="sp_dy_img" />
<div class="sp_dy_1">
<div class="sp_dy_11"><img alt="" src="../{$programlistinfo.imagesp}"
	style="width: 285px; height: 285px;"></div>
<div class="sp_dy_12">
<h2>{$programlistinfo.name}</h2>
<p class="bg_1"><span>品牌：</span>{$programlistinfo.pinpai}</p>
<p class="bg_2"><span>型号：</span>{$programlistinfo.xinghao}</p>
<p class="bg_1"><span>市场价：</span>{$programlistinfo.scj}</p>
<p class="bg_2"><span>优惠价：</span>{$programlistinfo.yhj}</p>
</div>
</div>
<div class="dy_sx">
<h2>商品属性</h2>
<div class="dy_sx_1"></div>
</div>
</div>
</body>
</html>