.bgimg {

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

.mc {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.hi {
    height: 300px;

}

.bg2 {

    background-color: #fcecd2;

}

.header {
   
    background-color: red;
    order: 0;
    flex-shrink: 0;
}

.footer {
    height: 3rem;
    background-color: blue;
    order: 2;
    flex-shrink: 0;
}

.container {
    flex-grow: 999;
    order: 1;
    overflow: hidden;
    position: relative;
}

.container .baseline {
    min-height: 100%;
    height: 100%;
    overflow: auto;
}

.header img {
    width: 100%;
    height: 100%;
}

.fr {
    margin-top: 20px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vf {
    margin-left: 100px;
}

.pb {
    height: 100%;
}

.navbar-fh {
    background-color: #cd413d;
    font-size: 20px;
    margin: 0px;
    color: #FFF
}

.navbar-fh a {
    color: #e8e8e8;
}

td {
    padding: 0.3rem;
}

.thumbnail {

    height: 240px;;
}

.thumbnail > img {

    width: 220px;
    height: 220px;;

    position: relative;
    float: left;
    margin: 0;
}

.thumbnail > div {
    float: right;
    position: relative;
    margin-top: 90px;

}

.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

.cm-vf {
    padding-right: 1px;
}

.row-1 {
    padding-right: 5px;
    padding-left: 5px
}

.checkbox-dc:before {
    margin-left: 30px;
    margin-top: -30px;
}

.checkbox label::before {
    margin-left: 30px;
}
.checkbox {
    padding-left: 0px;
}
.cg_goodname{
    font-size: 20px;
}
.hnk{
	    background-color: white;
    padding-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
